<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>

        <!-- Si es la raíz /, mostrar index.html -->
        <rule name="RootToIndex" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/index.html" />
        </rule>

        <!-- No reescribir si existe archivo, directorio o es API -->
        <rule name="RewriteHtmlFiles" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>

        <!-- blog/{id} → blog-details.html -->
        <rule name="RewriteBlogDetails" stopProcessing="true">
          <match url="^blog/([0-9]+)$" />
          <action type="Rewrite" url="/blog-details.html" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
